body {
  margin-right: 9vw;
  margin-left: 9vw;
  background-color: #fff;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
}

.first-banner {
  margin-top: 80px;
  font-weight: 400;
}

.name-link {
  font-size: 1.2vw;
  text-decoration: none;
  text-shadow: none;
  font-family: neue-haas-grotesk-text, sans-serif;
  color: #30364c;
  text-align: left;
}

.work-link {
  position: static;
  display: block;
  float: right;
  font-family: neue-haas-grotesk-text, sans-serif;
  color: #7a8277;
  font-size: 1.2vw;
  text-decoration: none;
}

.about-link {
  position: static;
  display: block;
  margin-right: 8vw;
  float: right;
  font-family: neue-haas-grotesk-text, sans-serif;
  color: #7a8277;
  font-size: 1.2vw;
  text-decoration: none;
}

.typewrite {
  margin-top: 200px;
}

.wrap {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  letter-spacing: .1em;
  border-right: 0.08em solid black;
  animation: 
    blink-caret .75s step-end infinite;
  }

@keyframes blink-caret {
  from, to { border-color: black }
  50% { border-color:transparent }
}

* { color:black; text-decoration: none;}
