body {
  background-color: #fff;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;

  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.first-banner {
  margin-top: 80px;
}

.name-link {
  font-size: 24px;
  text-decoration: none;
  text-shadow: none;
  color: #36373d;
  text-align: left;
}

.work-link {
  position: static;
  display: block;
  float: right;
  color: #7a8277;
  font-size: 24px;
  text-decoration: none;
}

.about-link {
  position: static;
  display: block;
  margin-right: 8vw;
  float: right;
  color: #7a8277;
  font-size: 24px;
  text-decoration: none;
}

.typewrite {
  margin-top: 200px;
}

.wrap {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  letter-spacing: .1em;
  border-right: 0.08em solid black;
  animation: 
    blink-caret .75s step-end infinite;
  }

@keyframes blink-caret {
  from, to { border-color: black }
  50% { border-color:transparent }
}


/* About */

.hello {
  color: #36373d;
  margin-top: 130px;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 400;
}

.bio-content {
  display: flex;
  align-items:center;
}

.bio-content img {
  margin-right: 40px;
  width: 30%;
  border-radius: 25px;
  float: left;
  vertical-align: middle !important;
}

.bio-text p, a{
  color: #9b9b9b;
  font-size: 20px;
  text-decoration: none;
  text-align: justify;
  line-height: 1.8em;
}

.monofa {
  width: 50px;
  display: inline-block;
  /* color: rgba(255,255,255,.5); */
  font-size: 30px;
}

a.monofa:hover {
  text-decoration: underline;
}

.social-links {
  text-align: center;
  margin-top: 100px;
}